<article>
    {{ if not .Page.IsHome }}
        <h1>{{ .Page.Params.icon }} {{ partial "block/title.html" .Page }}</h1>
    {{ end }}
    {{ if .ShowLastmod  }}
        <div class="datetime">
            <time>{{ partial "block/datetime.html" .Page }}</time>
        </div>
    {{ end }}

    {{ with .Page.Params.music }}<div id="music" data-src="{{ . }}">▶️</div>{{ end }}

    {{ if .ShowTOC }}
        <div data-nosnippet>{{ .Page.TableOfContents}}</div>
    {{ end }}

    {{ .Page.Content }}
    
</article>
